/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* CSS added by me */
.container {
    max-width: 1140px;
    margin: 0 auto;
    
}
.flex-cnt{
    display: flex;
}
body{
    line-height: 1.5;
}
*, *::after, *::before{
    box-sizing: border-box;
}
header {
    font-size: 18px;
    font-weight: 500;
    background: #F96115;
}
.nav-links {
      
}
.nav-links a {
   text-decoration: none;
   color: white;
   padding: 20px 0;
   padding-right: 60px;
}
.padding {
    padding: 60px 0;
}
.first-section .flex-cnt{
    justify-content: space-between;
    /*background: #005979;
    box-shadow: 10px 10px 12px -4px rgba(0,0,0,0.75);*/
}
.flex-cnt > div {
    padding: 32px;
    width: 25%;
    background: #005979;
    box-shadow: 10px 10px 12px -4px rgba(0,0,0,0.75);
}
ol > li {
    font-family: 'Roboto Mono', monospace;
    padding: 4px 0;
    list-style-type:decimal;
}
ul > li {
    font-family: 'Roboto Mono', monospace;
    padding: 4px 0;
    list-style-type:disc;
}
.first-section, .second-section{
    background: #D4CEA7;
}
.special-list-image li{
    font-family: 'Roboto Mono', monospace;
    list-style-image: url('../images/right.png');
}
dt {
    font-size: 28px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    word-spacing: 2px;
}
dd{
    word-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}


.footer {
    font-size: 18px;
    font-weight: 400;
    background: #252C22;
}